.aboutmeholder {
	text-align: center;
	height: 100%;
	padding-top: 15px;
	font-family: 'Indie flower';
	&__img {
		height: 303px;
		width: 227px;
		background-color: #fff;
		margin: 0 auto;
		display: none;
		border-radius: 10px;
	}
	&__text {
		color: white;
		display: none;
		margin: 0 auto;
		width: 50%;
		font-size: 20px;
		p {
			margin-top: 10px;
		}
		@media only screen and (min-width: 320px) and (max-width: 768px) {
			width: 250px;
		}
		h1 {
			font-size: 30px;
			margin-top: 15px;
		}
	}

	.button {
		&__aboutme {
			width: 250px;
			height: 50px;
			margin-top: 400px;
			background-color: #FF624D;
			color: #fff;
			border: none;
			border-radius: 5px;
			font-family: 'Indie flower';
			font-size: 30px;
			font-weight: 900;

			@media only screen and (min-width: 320px) and (max-width: 768px) {
				margin-top: 300px;
			}
		}
	}
}