.container {
	.background-image {
		&__landing-page {
			background: url("../src/vendors/container/0-0.png") no-repeat;
			height: 100vh;
			background-image: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-position: center center;
		}
		&__aboutme {
			text-align: center;
			background: url("../src/vendors/container/1-0.png") no-repeat;
			height: 100vh;
			background-image: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-position: center center;
		}
		&__portfolio {
			background: url("../src/vendors/container/2-0.png") no-repeat;
			height: 100vh;
			background-image: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-position: center center;
		}

	}
}