#searchContainer {
  width: 100%;
  text-align: center;
}

#searchForm {
  width: 75%;
  display: inline-block;
}

#searchbutton {
  background-color: #EA372A;
  border: none;
  color: white;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

input[type=text] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

img {
  width: 75%;
}

input.watermark {
  color: #EA372A;
  font-weight: 400;
}