/* BACKGROUND */

.lowpolybackground {
  background-size: cover;
  background-color: transparent;
  animation: pulse 30s infinite;
}

/* ANIMATIONS*/

/* BACKGROUND ANIMATION */
@keyframes pulse {
  0% {
    background: url(../../vendors/images/mobile/mobile_start1.svg) no-repeat center;
  }
  50% {
    background: url(../../vendors/images/mobile/mobile_end1.svg) no-repeat center;
  }
  100% {
    background: url(../../vendors/images/mobile/mobile_start1.svg) no-repeat center;
  }
}
/* END OF BACKGROUND */

/* SWIPE DIV ANIMATION */
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
/* END OF SWIPE DIV ANIMATION*/

/* END OF ANIMATIONS*/


/* NAVBAR */
.brand-name {
  font-family: 'Indie Flower', cursive !important;
  font-size: 85px;
  margin: 25px;
  text-align: center;
  color: #562D8E !important;
  padding: 10px;
}

.navbar-toggle {
  background-color: #562D8E !important;
  border: none;
}

.navbar,
.navbar-default,
.navbar-toggle.collapsed {
  background-color: transparent !important;
  border: none;
}

.nav.navbar-nav {
  border-bottom: 2px solid white !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important;
}

ul li a {
  color: white !important;
  background-color: transparent !important;
}

.active {
  background-color: #562D8E !important;
}
/* END OF NAVBAR */

#swipe {
  border: 2px solid black;
  height: 80vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#swipe .header {
  font-size: 45px;
  font-family: 'Indie Flower', cursive !important;
}

.blue {
  background-color: blue;
}

.left {
  opacity: 0;
  margin-top: 100px;
  background-color: yellow;
  float: left;
  width: 33%;
  animation: fadeIn 4s;
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.right {
  opacity: 0;
  margin-top: 100px;
  background-color: purple;
  float: right;
  width: 33%;
  animation: fadeIn 4s;
  -webkit-animation-delay: 3s; /* Safari 4.0 - 8.0 */
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

/* DESKTOP NAVBAR */

@media screen and (min-width: 800px) {
  .lowpolybackground {
    display: none !important;
  }
  .navbar {
    display: none !important;
  }
  .construction {
    display: block;
    color: black;
    width: 500px;
    height: 500px;
    background-color: purple;
  }
}


/* END OF DESKTOP NAVBAR */