/* LANDINGPAGE */

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
.overlay {
    opacity: 1;
    background: #000;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    visibility: visible;
    display: none;
}

.overlay-text,
.overlay-button {
    background: #000;
    display: none;
}


/* END OF OVERLAY */


/* GLITCH EFFECT */

.glitch {
    position: relative;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

svg {
    width: 600px;
    height: 120px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: #000;
}


/* END OF GLITCH */


/* BACKGROUND */

.lowpolybackground {
    background-size: cover;
    background-color: transparent;
    animation: pulse 30s infinite;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /*transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    backface-visibility: hidden*/
}


/* ANIMATIONS */


/* BACKGROUND ANIMATION */

@keyframes pulse {
    0% {
        background: url(../../vendors/images/mobile/mobile-start.png) no-repeat center;
    }
    25% {
        background: url(../../vendors/images/mobile/mobile-end.png) no-repeat center;
    }
    50% {
        background: url(../../vendors/images/mobile/mobile-start.png) no-repeat center;
    }
    75% {
        background: url(../../vendors/images/mobile/mobile-end.png) no-repeat center;
    }
    100% {
        background: url(../../vendors/images/mobile/mobile-start.png) no-repeat center;
    }
}


/* END OF BACKGROUND */


/* NAVBAR */

.brand-name {
    font-family: 'Indie Flower', cursive !important;
    font-size: 85px;
    margin: 25px;
    text-align: center;
    color: #562D8E !important;
    padding: 10px;
}

.navbar-toggle {
    background-color: #562D8E !important;
    border: none;
}

.navbar,
.navbar-default,
.navbar-toggle.collapsed {
    background-color: transparent !important;
    border: none;
}

.nav.navbar-nav {
    border-bottom: 2px solid #562D8E !important;
}

li .dropdown-menu .divider {
    background-color: #562D8E;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

ul li a {
    color: white !important;
    background-color: transparent !important;
}

.active {
    background-color: #562D8E !important;
}


/* END OF NAVBAR */


/* DESKTOP NAVBAR */

@media screen and (min-width: 768px) {
    .lowpolybackground {
        display: none !important;
    }
    .navbar {
        display: none !important;
    }
}


/* END OF DESKTOP NAVBAR */


/* SCROLLBAR */

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


/* END OF SCROLLBAR */


/* MAIN */

#swipe {
    height: 85vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 15px;
}

#swipe .header {
    font-size: 45px;
    font-family: 'Indie Flower' !important;
}

.turquoise {
    background-color: turquoise;
}

.orange {
    background-color: orange;
}

main {
    position: relative;
    clear: both;
}

.left {
    background-image: url(asddas.jpg);
    width: 50px;
    height: 350px;
    background-color: white;
    left: 0px;
    top: 150px;
    position: absolute;
}

.right {
    background-image: url(asd.jpg);
    width: 50px;
    height: 350px;
    background-color: white;
    right: 0px;
    position: absolute;
    top: 150px;
}

.left-animation {
    animation: left-animation 2s infinite;
}

.middle {
    width: 75px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animatemeplease {
    width: 75px;
    height: 75px;
    background-color: aqua;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
}

@keyframes mymove {
    from {
        top: 0px;
    }
    to {
        top: 200px;
    }
}

@keyframe left-animation {
    0% {
        width: 75px;
    }
    100% {
        width: 450px;
    }
}


/* END OF MAIN */