/* BACKGROUND */

.lowpolybackground {
  background-size: cover;
  background-color: transparent;
  animation: pulse 30s infinite;
}


/* BACKGROUND ANIMATION */

@keyframes pulse {
  0% {
    background: url(../../vendors/images/mobile/mobile_start.svg) no-repeat center fixed;
  }
  50% {
    background: url(../../vendors/images/mobile/pattern.svg) no-repeat center fixed;
  }
  100% {
    background: url(../../vendors/images/mobile/mobile_start.svg) no-repeat center fixed;
  }
}


/* END OF BACKGROUND */


/* NAVBAR */

.brand-name {
  font-family: 'Indie Flower', cursive !important;
  font-size: 70px;
  margin: 25px;
  text-align: center;
  color: #562D8E !important;
  padding: 10px;
}

.navbar,
.navbar-default,
.navbar-toggle .collapsed {
  background-color: transparent !important;
  border: none;
}

.nav.navbar-nav {
  border-bottom: 2px solid white !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important;
}

ul li a {
  color: white !important;
  background-color: transparent !important;
}

.active {
  background-color: #562D8E !important;
}


/* END OF NAVBAR */

#swipe {
  border: 2px solid black;
  height: 80vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.yellow {
  background-color: yellow;
}


/* DESKTOP NAVBAR */

@media screen and (min-width: 800px) {
  .lowpolybackground {
    display: none !important;
  }
  .navbar {
    display: none !important;
  }
  .construction {
    display: block;
    color: black;
    width: 500px;
    height: 500px;
    background-color: purple;
  }
}


/* END OF DESKTOP NAVBAR */